<div class="first-heading">
    <div></div>
    <h1>
        The first heading
        <small class="text-muted">Will Catch Your Eye  </small>
      </h1>
      <p class="lead">
        Do something pretty while you can.  fall asleep. Y es necesario desgranar los lugares comunes, todo no es tan único, esa es, por enésima vez, la lección del día.
        Hacer la lista de los encuentros casuales frustrantes con gente que me muestra mi lugar, mi pequeño lugar.  
      </p>
    <img src="https://pbs.twimg.com/profile_images/2624045150/gaemj6httbzn0df3m3h3_400x400.jpeg" class="rounded-circle"  alt="...">
</div>
